.myOrders {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    //background-color: rgba(247, 247, 247, 0.714);
}

.myOrders-header {
    margin-top: 40px;
}

#myOrders-button {
    font-weight: 600;
    text-align: center;
    font-size: 19px;
    color: white;
    text-decoration: none;
    background-color:  rgb(80, 249, 196);
    width: 23%;
    border: none;
    border-radius: 4px;
    padding: 0.8em;
    // margin-top: 1em;
    // margin-bottom: 1em;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  }


  #orderDelete-button-orders {
    font-weight: 600;
    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color:  rgb(80, 249, 196);
    //width: 25%;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin-top: 10em;
    margin-bottom: 1em;
    margin-right: 20px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  }



  .allMyOrders{
      border: 5px solid rgb(255, 255, 255);
      width: 600px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 10px;
      border-radius: 5px;
      background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(https://image.freepik.com/vector-gratis/fondo-viajes-mundo_1010-471.jpg);
      //https://image.freepik.com/vector-gratis/fondo-viaje-garabatos_23-2148044878.jpg
      // https://image.freepik.com/vector-gratis/plantilla-logotipo-avion_23-2147498225.jpg
      text-align: initial;
      padding-left: 16px;
      display: flex;
      //text-transform: uppercase;
    }

    #delivery-date {
        color: black;
        margin-left: -20px;
        font-size: 17px;

    }

    //para borrar el amarillo del input
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }

    .product-image {
        height: 100px;
        width: 100px;
        margin-top: 50px;
        //object-fit: contain;
        //align-self: flex-start;

    }

    .product-text {
        flex: 1 1 auto;
        margin-left: 20px;
        color:  rgb(65, 65, 65);

    }
    
    span {
        font-weight: lighter;
        color: rgb(133, 133, 133);

    }