.nav-style {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
}

.nav-style li {
  left: 0;
  //display: block;
  color: #f2f2f2;
  align-items: center;
  padding: 10px 16px;
  font-size: 17px;
}

a {
  text-decoration: none;
  color:  rgb(53, 53, 53);
}

a:hover {
  text-decoration: none;
  color: rgba(80, 249, 196, 0.5);
  text-decoration: underline;
  text-underline-position: under;
}

.container-left {
  display: flex;
  justify-content: flex-start;
}

.container-right {
  display: flex;
  justify-content: flex-end;
}


.link {
  text-decoration: none;
  color: white;
}


.mostrar {
    display: block;

  }

  .ocultar {
    display: none;

  }

  #profilephoto {
    margin-top: 7px;
    height: 30px;
    width: 30px;
  }

  #messages {
    
    margin-top: 7px;
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }

  #logo-bringit {
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    height: 50px;
    width: 150px;
  
  }
