#image{
    background-image: url(https://image.freepik.com/foto-gratis/mujer-cultivo-que-recibe-paquete_23-2147787850.jpg);
    // https://image.freepik.com/foto-gratis/recortar-manos-paquete_23-2147801240.jpg
    // https://image.freepik.com/foto-gratis/servicio-marketing-online-departamento-entrega_1150-7686.jpg
    // https://images.unsplash.com/photo-1512908390106-b1af96afe5cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80
    // https://image.freepik.com/foto-gratis/mujer-cultivo-que-recibe-paquete_23-2147787850.jpg
} 

.col-text {
    height:41.5em;
  }
  
  .grid-flex {
  
    display: flex;
    flex-grow: 1;
    flex-direction: row; 
  }
  .col {
    flex: 1;
  }
  .col-left {
    order: -1;
  }
  .col-text{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    width: 60%;
  }
  .col-image {
    background-size: cover;
    background-position:center center;
  }
  
h1{
    //padding-top: 60px;
    font-size: 70px;    
    color: rgb(60, 60, 60);
}

p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: rgb(80, 249, 196);
}

//how does it work

.howdoesitwork {
  background-color: #e8eeef; 
  height: 300px;
  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  //align-content: center;

}

.howdoesitwork-p {
  color: rgb(60, 60, 60);
  font-size: 15px;
  font-weight: bold;

  
}

.home-img {
  height: 30px;
  width: 30px;
}

.home-col {
  margin-top: 100px;
  flex: 33%;
}


// how dos it work white background

#vertical-hr {
  border:         none;
  border-left:    1px solid hsla(195, 0%, 91%,100);
  height:         100vh;
  width:          0.4px; 
  margin-top: 20px;
}

.grid-flex-howdoes {

  display: flex;
  flex-grow: 1;
  flex-direction: row; 
}
.col-howdoes {
  flex: 1;
}

.col-text-howdoes{
  display: flex;
  align-items: center;
  justify-content: center;
  height:41.5em;
}
.Aligner-item-howdoes {
  width: 60%;
}
